@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --clr-shadow-dark-blue: hsl(238, 29%, 16%);
    --clr-arrow-soft-red: hsl(14, 88%, 65%);
    --clr-bg-soft-violet: hsl(273, 75%, 66%);
    --clr-bg-soft-blue: hsl(240, 73%, 65%);
    --clr-text-dark-blue: hsl(237, 12%, 33%);
    --clr-text-blue: hsl(240, 6%, 50%);
    --clr-divider-blue: hsl(240, 5%, 91%);
    --fs-200: 1.2rem;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font: inherit;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* general */
body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.4rem;
    background: linear-gradient(var(--clr-bg-soft-violet), var(--clr-bg-soft-blue));
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
    z-index: 1;
}



h1 {
    color: var(--clr-shadow-dark-blue);
    font-weight: 700;
    font-size: 2.4rem;
}

summary {
    color: var(--clr-text-dark-blue);
    padding: 1.5rem 0rem;
}

p {
    color: var(--clr-text-blue)
}

details>summary {
    list-style: none;
    transition: all .2s ease;
}

summary::-webkit-details-marker {
    display: none
}

summary::after {
    content: url(./images/icon-arrow-down.svg);
    float: right;
    transition: all .3s ease;
}

details:not([open]) {
    height: 5.5rem;
}

details[open] summary:after {
    transform: rotate(180deg);
    transition: .3s ease;
}

details[open] summary {
    color: var(--clr-shadow-dark-blue);
    font-weight: 700;
}

details[open] {
    height: 15rem;
}

details[open] summary~* {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
        margin-left: -10px
    }

    100% {
        opacity: 1;
        margin-left: 0px
    }
}

details {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 1rem 0rem;
    transition: .3s ease;
}

details summary:hover {
    color: var(--clr-arrow-soft-red);
    transition: .3s ease;
}

hr {
    color: var(--clr-divider-blue);
    opacity: 0.2;
}

/* utilities */



/* components */
.card {
    padding: 2rem 1rem;
    background-color: #fff;
    border-radius: 2rem;
    width: 32rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-info h1 {
    text-align: center;
}

.card-info {
    padding: 1rem;
}

.primary-desk {
    display: none;
}

.secoundary-desk {
    display: none;
}

.third-desk {
    display: none;
}

.primary-mobile {
    position: relative;
    z-index: 2;
    bottom: 14rem;
    width: 26rem;
}

.secoundary-mobile {
    position: relative;
    z-index: 1;
    bottom: 22rem;
    width: 26rem;
}

.card-img {
    height: 10rem;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    text-decoration: none;
    color: var(--clr-divider-blue);
    transition: .3s ease;
}

.attribution a:hover {
    color: var(--clr-arrow-soft-red);
}

@media (min-width: 50em) {
    body {
        padding-top: 0rem;
        z-index: -1;
    }

    details[open] {
        height: 12.5rem;
    }

    .card {
        padding: 0rem 1rem;
        flex-direction: row;
        width: 80rem;
        align-items: center;
        height: 100%;
        /* isolation: isolate; */
    }

    .primary-mobile {
        display: none;
    }

    .secoundary-mobile {
        display: none;
    }

    .primary-desk {
        display: block;
        position: absolute;
        z-index: 1;
        bottom: 25rem;
        right: 55%;
        width: 38rem;
    }

    .secoundary-desk {
        display: block;
        position: absolute;
        z-index: 1;
        bottom: 10rem;
        width: 70rem;
        right: 55%;
    }

    .third-desk {
        display: block;
        position: absolute;
        z-index: 2;
        width: 15rem;
        right: 72%;
    }

    .card-info h1 {
        text-align: left;
    }

    .card-info {
        text-align: left;
        padding: 5rem 2rem;
        width: 35rem;
    }

    .card-img {
        width: 35rem;
    }
}